{
  "status": 200,
  "success": true,
  "data": {
    "id": "{{ id }}",
    "deletehash": "{{ delete_hash or 'abcdefghijklmno' }}",
    "account_id": {{ account_id or range(1000000, 99999999) | random }},
    "account_url": null,
    "ad_type": null,
    "ad_url": null,
    "title": "{{ title or 'Test image' }}",
    "description": "lorem ipsum dolor sit amet",
    "name": "{{ name or 'test_img.jpg' }}",
    "type": "image/jpeg",
    "width": {{ width or 1920 }},
    "height": {{ height or 1080 }},
    "size": {{ size or range(100000, 9999999) | random }},
    "views": {{ views or range(1, 9999) | random }},
    "section": null,
    "vote": null,
    "bandwidth": {{ bandwidth or range(1000000, 9999999) | random }},
    "animated": false,
    "favorite": false,
    "in_gallery": false,
    "in_most_viral": false,
    "has_sound": false,
    "is_ad": false,
    "nsfw": null,
    "link": "https://i.imgur.com/{{ id }}.jpeg",
    "tags": [],
    "datetime": {{ datetime or range(1000000000, 1899999999) | random}},
    "mp4": "",
    "hls": ""
  }
}